@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.fonts{
font-family: Kaushan Script;
}
.images{
    background-image: url("desertneww.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
} 
.font{
    font-family: Montserrat;
}
a{
    text-decoration: none !important;
    color: white !important;
}
.flight{
    display: flex;
    justify-content: center;
    background-image: url("../src/cartoon.png");
    background-size: 100%;
    height: 100vh;
    width: 100vw;
    padding-left: 100px;
    align-items: center;
     
}
.box{
    padding: 40px 40px 30px 40px;
    box-shadow: 0px 8px 32px 0 rgba(0, 0, 255, 0.3);
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.52);
    align-items: center;
    /* justify-content: center; */
    
}
.mail{
    margin-left: 0px;
    display: flex;
    
}
.pass{
    margin-left: 0px;
    display: flex;
    
}
.input{
    width: 70%;
    height: 30px;
    background-color: white;
    border-radius: 16px;
}
.btnbox{
    width: 60px;
    height: 20px;
    background-color: orangered;
    border-radius: 16px;
    
    
}
.bgblue{
    background-color: #1a2954d6;
    width:100%;
    height: 1000px;
    
}
.one{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
    color: white;
    gap: 30px;
}
.in1{
    height: 20px;
    margin-top: 4px;
}
.bg1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.bg2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.pencil{
    
   /* display: flex; */
   
    background-image: url('../src/packagebg.jpg');
    background-size: 100%;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   height: 40rem;
   
    width: 100vw;
    /* padding-left: 100px; */
    /* align-items: center; */
   

}
.pencillengthy {
    background-image: url('../src/packagebg.jpg');
    background-size: 100%;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   height: 40rem;

}
.adminbg{
    background-image: url('../public/images/adminbg.jpg');
    background-size: 100%;
    height: calc(100vh - 64px);
    width: 100%;

}
.resorthome{
    background-image: url('../src/resort/Resort-Home.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 40rem;
}

.guidehome{
    background-image: url('./guide/Guide-Home.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 40rem;

}
.userhome{
    background-image: url('./user/User-Home.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 60rem;

}
.borderDown{
    border-bottom: 2px solid black;
}
.borderLeft{
    border-left: 2px solid #000;
}
.app{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 25px;
    flex-direction: column;
}
.stars > span {
    cursor: pointer;
}
.selected{
    color: rgb(224, 176, 16);
}
